.card {
  // min-width: 30%;
  // height: 24rem;
  // flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(black, 0.1);
  // margin: 0 0.75rem 1.5rem;
  overflow: hidden;

  &-1 {
    grid-row: 1 / 2;
    grid-column: col-start 1 / col-end 2;

    @media only screen and (max-width: 56.25em) {
      grid-column: col-start 1 / col-end 3;
    }
  }

  &-2 {
    grid-row: 1 / 2;
    grid-column: col-start 3 / col-end 4;

    @media only screen and (max-width: 56.25em) {
      grid-column: col-start 4 / col-end -1;
    }
  }

  &-3 {
    grid-row: 1 / 2;
    grid-column: col-start 5 / col-end 6;

    @media only screen and (max-width: 56.25em) {
      grid-row: 2 / 3;
      grid-column: col-start 1 / col-end 3;
    }
  }

  &-4 {
    grid-row: 2 / 4;
    grid-column: col-start 1 / col-end 3;

    @media only screen and (max-width: 56.25em) {
      grid-row: 2 / 3;
      grid-column: col-start 4 / col-end -1;
    }
  }

  &-5 {
    grid-row: 2 / 4;
    grid-column: col-start 4 / col-end 6;

    @media only screen and (max-width: 56.25em) {
      grid-row: 3 / 4;
      grid-column: col-start 1 / col-end -1;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:first-child {
    margin-right: 0.75rem;
  }

  &:last-child {
    margin-left: 0.75rem;
  }

  &__content-box {
    // height: 90px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(black, 0.1);
    position: absolute;
    opacity: 0.9;
    background-color: #fff;
    text-transform: uppercase;

    @media only screen and (max-width: 37.5em) {
      padding: 2.5rem 1rem;
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      transform: scale(1.1);
      transition: all 6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }

  &__title {
    font-weight: bold;
    margin-bottom: 0.6rem;
    font-size: 2.2rem;
    color: #4a4a4a;

    @media only screen and (max-width: 37.5em) {
      font-size: 1.6rem;
    }
  }

  &__subtitle {
    font-weight: lighter;
    font-size: 1.6rem;
  }

  //maybe sass processes it as .card.card--large even thought the below selector is kinda inside the .card which indicates its a child
  //of .card!!! i guess sass is smart :)
  // &.card--large {
  //   height: 36rem;

  //   @media only screen and (max-width: 75em) {
  //     height: 24rem;
  //   }
  // }
}
